.container{
    background-color: black;
    margin-top: 0.5rem;
    padding: 1rem;
}
.wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.first{
    display: flex;
    color: rgb(79, 79, 79);
    align-items: baseline;
}
.first a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.first h3{
    font-size: 1rem;
}

.wrapper p{
    color: rgb(79, 79, 79);
    font-size: 0.8rem;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media(max-width:700px) {
    .wrapper{
        width: 90%;
    }
}

@media(max-width:500px) {
    .wrapper{
        width: 95%;
    }
}