.button{
    background-color: #E50A15;
    color: white;
    border: none;
    border-radius: 0.15rem;
    padding-top: .75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.button:hover{
    background-color: red;
    cursor: pointer;
}

@media(max-width:700px){
    .button{
        padding-top: .6rem;
        padding-bottom: 0.6rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}