.container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.info{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1.2rem;
}
.container h1{
    color: white;
    font-size: 2.5rem;
}
.image{
    margin-left: auto;
    margin-right: auto;
}
.container h3{
    text-align: center;
    color: white;
    font-size: 1.15rem;
}

@media(max-width:600px){
    .container .info{
        width: 90%;
    }
    .container img{
        width: 100%
    }
    .info h1{
        font-size: 2rem;
    }
    .info h3{
        font-size: 1rem;
    }
}